VITE_SUPABASE_URL=https://gkkcheuulnglnhynmqyq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdra2NoZXV1bG5nbG5oeW5tcXlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk1NDc1NjgsImV4cCI6MjA5NTEyMzU2OH0.F2oSV6gOTm3ucj5Cr059fjfKu4XkMt-Zr_W_C1g-CK4
